# Python CircleCI 2.0 configuration file
# Check https://circleci.com/docs/2.0/language-python/ for more details
version: 2.1

apt-install: &apt-install
  name: Install apt packages
  command: |
    sudo apt-get update
    sudo apt-get install build-essential pandoc

pip-install: &pip-install
  name: Install Python dependencies
  command: |
    python3 -m venv venv
    . venv/bin/activate
    pip install -U pip

pip-install-dev: &pip-install-dev
  name: Install Python development dependencies
  command: |
    python3 -m venv venv
    . venv/bin/activate
    pip install -U pip
    pip install --progress-bar off tox

main-or-pr-check: &main-or-pr-check
  name: Only build branches that are "main", or a PR
  command: bash .circleci/branch_name_check.sh

ci-skip-check: &ci-skip-check
  name: Check for [ci skip]
  command: bash .circleci/ci_skip_check.sh

jobs:

  test-39:
    docker:
      - image: circleci/python:3.9
    steps:
      - checkout
      - run: *ci-skip-check
      - run: *main-or-pr-check
      - run: *apt-install
      - run: *pip-install-dev
      - run:
          name: Run test
          command: |
            . venv/bin/activate
            tox -e py39

  # docs build
  build-docs:
    docker:
      - image: circleci/python:3.9
    steps:
      - checkout
      - add_ssh_keys: # add GitHub SSH keys
          fingerprints:
            - 21:3a:31:0c:f7:f4:94:ed:1c:4f:16:cb:67:60:61:0a
      - run: *ci-skip-check
      - run: *main-or-pr-check
      - run: *apt-install
      - run: *pip-install-dev
      - run:
          name: Install
          command: |
            . venv/bin/activate
            pip install -e .[docs]
      - run:
          name: Execute notebooks
          command: bash .circleci/execute_notebooks.sh
      - run:
          name: Build documentation
          no_output_timeout: 30m
          command: |
            . venv/bin/activate
            tox -e build_docs
      - store_artifacts:
          path: docs/_build/html
      - run:
          name: Built documentation is available at
          command: |
            DOCS_URL="${CIRCLE_BUILD_URL}/artifacts/${CIRCLE_NODE_INDEX}/${CIRCLE_WORKING_DIRECTORY/#\~/$HOME}/docs/_build/html/index.html"; echo $DOCS_URL

workflows:
  thejoker:
    jobs:
      - test-39
      - build-docs:
          requires:
            - test-39

notify:
  webhooks:
    - url: https://giles.cadair.dev/circleci
